@page "/account/favorites"
@inherits FavoritesBase
@attribute [Authorize]

<section class="favorites">
    <div class="favorites__container">
        <div class="favorites__block">
            <h1 class="favorites__title">Избранное</h1>
            @if (currentUser is null)
            {
                <Loader />
            }
            else
            {
                if (currentUser.FavoriteList.Products.Count == 0)
                {
                    <div class="favorites__empty-image"><img src="/images/favorites/Корзина с избранными товарами.png" alt="Изображение корзины с избранными товарами"></div>
                    <h3 class="favorites__empty-title">Похоже ваш список избранных товаров пуст</h3>
                    <h3 class="favorites__empty-message">Нажмите ♡ на товаре и добавляйте сюда то, что понравится.</h3>
                }
                else
                {
                    <div class="favorites__product-cards">
                        @foreach (var group in GetDistinctProductsByModel())
                        {
                            <div class="favorites__product-card">
                                <div class="favorites__image-block">
                                    <a class="favorites__image" href="/products/product-card/@group.First().Id" aria-label="Перейти в личную карточку товара @group.First().Subcategory @group.First().Name"><img src="data:image/png;base64,@Convert.ToBase64String(group.First().MainPhoto)" alt="Картинка @group.First().Name" title="@group.First().Name"></a>
                                    <span class="favorites__favorites-icon" @onclick="() => RemoveProductFromFavoritesAsync(group.First())" aria-label="Удалить товар @group.First().Name из избранного"><img src="/icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></span>
                                    @if (Db.Products.Count(product => product.Article.Model.Id == group.First().Id) != 0)
                                    {
                                        @if (currentUser.Cart.Products.Any(cartProduct => cartProduct.Article.Model.Id == group.First().Id))
                                        {
                                            <span class="favorites__cart-icon" @onclick="() => RemoveProductFromCartAsync(group.First())" aria-label="Добавить товар @group.First().Name в корзину"><img src="/icons/favorites/Slash-cart.svg" alt="Иконка корзины" title="Добавить в корзину"></span>
                                        }
                                        else
                                        {
                                            <span class="favorites__cart-icon" @onclick="() => AddProductInCartAsync(group.First())" aria-label="Добавить товар @group.First().Name в корзину"><img src="/icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></span>
                                        }
                                    }
                                    @*<div class="favorites__block-discount hasDiscount"> hasDiscount
                                    <span class="block-discount__amount">-20%</span>
                                    <img class="block-discount__icon" src="/icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                                    </div>*@
                                </div>
                                <h3 class="favorites__name"><a href="/products/product-card/@group.First().Id" aria-label="Перейти в личную карточку товара @group.First().Name">@group.First().Name</a></h3>
                                @*<div class="favorites__block-price hasDiscount"> hasDiscount
                                <span class="block-price__price">27 999 ₽</span>
                                <span class="block-price__discount-price">22 400 ₽</span>
                                </div>*@
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>