    @page "/account/orders"
@inherits OrdersBase
@attribute [Authorize]

<section class="orders">
    <div class="orders__container">
        <div class="orders__block">
            <h1 class="orders__title">Заказы</h1>
            @if (currentUser is null)
            {
                <Loader />
            }
            else
            {
                @if (currentUser.OrderHistory.Orders.Count == 0)
                {
                    <div class="orders__empty-image"><img src="/icons/order-history/order-list-icon.svg" alt="Изображение листа заказов"></div>
                    <h3 class="orders__empty-title">Похоже история вашев заказов пуста</h3>
                    <h3 class="orders__empty-message">Попробуйте положить пару товаров 🛒 и сделать свой первый заказ!</h3>
                }
                else
                {
                    <div class="orders__orders-cards">
                        @foreach (var order in currentUser.OrderHistory.Orders)
                        {
                            <div class="orders-cards__order-card">
                                <div class="order-card__title-block">
                                    <h2 class="order-card__number" aria-label="Номер заказа"><strong>Номер:</strong> @order.Id</h2>
                                    <h3 class="order-card__status" aria-label="Статус заказа"><strong>Статус:</strong> @OrderStatusTypeRussianTranslator.GetRussianTranslate(order.Status)</h3>
                                    <date class="order-card__date" aria-label="Дата и время заказа"><strong>Дата и время заказа:</strong> @order.DateTimeCreation.ToLongDateString() @order.DateTimeCreation.ToLongTimeString()</date>
                                    <h3 class="order-card__track" aria-label="Трек номер заказа"><strong>Код отслеживания:</strong> @order.TrackNumber</h3>
                                </div>
                                <div class="order-card__main-block">
                                    <div class="main-block__products-block">
                                        <div class="products-block__order">
                                            <div class="order__products-cards">
                                                @foreach (var productModelGroup in DisctictProductsByProductModel(order.Products))
                                                {
                                                    <div class="products-cards__product-card">
                                                        <a class="product-card__image" href="/products/product-card/@productModelGroup.First().Id" aria-label="Ссылка перехода на карточку товара @productModelGroup.First().Name"><img src="data:image/png;base64,@Convert.ToBase64String(productModelGroup.First().MainPhoto)" alt="@productModelGroup.First().Name"></a>
                                                        <a class="product-card__name" href="/products/product-card/@productModelGroup.First().Id" aria-label="Ссылка перехода на карточку товара @productModelGroup.First().Name">@productModelGroup.First().Name</a>
                                                        <div class="product-card__price-block"> <!-- hasDiscount -->
                                                            <span class="price-block__price" aria-label="Стоимость продукта заказа">@productModelGroup.Sum(productModel => productModel.Price).ToString("### ### ###") ₽</span>
                                                            <!-- <span class="price-block__discount-price">5000 ₽</span> -->
                                                            <span class="price-block__count" aria-label="Количество продукта заказа">- @productModelGroup.Count()x</span>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="main-block__block-info">
                                                <span class="block-info__info" aria-label="Способ оплаты заказа"><strong>Способ оплаты:</strong> @PaymentMethodTypeRussianTranslator.GetRussianTranslate(order.PaymentMethod)</span>
                                                <span class="block-info__info" aria-label="Способ доставки заказа"><strong>Способ доставки:</strong> @DeliveryMethodTypeRussianTranslator.GetRussianTranslate(order.Delivery.DeliveryMethod) ("@order.Delivery.Name")</span>
                                                <span class="block-info__info" aria-label="Адркс доставки заказа"><strong>Адрес доставки:</strong> @($"{order.Address.Country}, {order.Address.City}, {order.Address.Street}, {order.Address.PostalCode}")</span>
                                                <span class="block-info__info" aria-label="ФИО заказчика"><strong>Заказчик:</strong> @order.CustomerFullName</span>
                                                <span class="block-info__info" aria-label="Телефон заказчика"><strong>Телефон заказчика:</strong> +@order.PhoneNumber.Replace("+","").Replace("-","").Replace(" ","").Replace("(","").Replace(")","")</span>
                                                <date class="block-info__info" aria-label="Примерная дата доставки заказа"><strong>Примерная дата доставки:</strong> @order.DateTimeCreation.AddDays(order.Delivery.ApproximateDays).ToLongDateString()</date>
                                                <span class="block-info__info" aria-label="Стоимость доставки заказа"><strong>Стоимость доставки:</strong> @order.Delivery.Cost.ToString("### ###") ₽</span>
                                                <span class="block-info__info" aria-label="Итоговая сумма заказа"><strong>Сумма заказа:</strong> @order.TotalCost.ToString("### ### ###") ₽</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>