@inherits HeaderBase

@if (currentUserState is not null)
{
    <header class="header @(HeaderIsScroling ? "scroling" : string.Empty)">
        <div class="container header__container">
            <a class="logo" href="/" aria-label="Лого"><img src="/icons/header/Logo.svg" alt="Лого" title="Лого"></a>
            <nav class="navbar">
                <ul class="navbar__categories">
                    @if (categories is not null)
                    {
                        @foreach (var category in categories)
                        {
                            <li class="category__link" @onmouseover="async () => await ShowSubcategoriesAsync(category)"><a href="/products/catalog/@category.Name" aria-label="Перейти в раздел товаров с категорией @category.Name"><h3>@category.Name</h3></a></li>
                        }
                    }
                </ul>
            </nav>
            <div class="panel">
                <div class="panel__search">
                    <span id="searchLupa" class="panel__search__lupa @(SearchPanelIsActive ? "active" : string.Empty)" @onclick="async () => await ToggleSearchPanelAsync()"><img src="/icons/header/Lupa.svg" alt="Поисковая лупа" title="Поиск"></span>
                    <input id="searchInput" class="panel__search__input @(SearchPanelIsActive ? "active" : string.Empty)" @bind="SerachProductModelsByName" @onblur="HideSearchPanel" @onkeypress="SearchProductModelsByName" placeholder="Поиск товара" type="search" aria-label="Поисковик товара по имени">
                </div>
                @if (currentUserState.Identity.IsAuthenticated)
                {
                    <a class="panel__favorites" href="/account/favorites" aria-label="Перейти в каталог избранных товаров" title="Иконка избранного">
                        <img src="/icons/header/Heart.svg" alt="Иконка избранного" title="Иконка избранного">
                        @if (CountFavoriteProducts() != 0)
                        {
                            <span class="panel__favorites__count">@CountFavoriteProducts()</span>
                        }
                    </a>
                    <a class="panel__cart" href="/account/cart" aria-label="Перейти в каталог товаров в корзине" title="Иконка корзины">
                        <img src="/icons/header/Cart.svg" alt="Иконка корзины" title="Иконка корзины">
                        @if (CountCartProducts() != 0)
                        {
                            <span class="panel__cart__count">@CountCartProducts()</span>
                        }
                    </a>
                    <div class="panel__user-block" @onclick="async () => await ToggleUserPanelAsync()">
                        <div class="panel__user" aria-label="Пользовательское меню"><img src="/icons/header/User.svg" alt="Иконка пользователя" title="Пользовательское меню"></div>
                        <ul class="panel__user-links @(UserPanelIsShow ? "show" : string.Empty)">
                            <li class="user-menu__link"><a href="/account/orders" aria-label="Перейти в заказы пользователя">Заказы<img src="/icons/header/Orders (cube).svg" alt="Иконка заказов пользователя" title="Заказы"></a></li>
                            <li class="user-menu__link"><a href="#" aria-label="Перейти в настройки личного кабинета пользователя">Настройки<img src="/icons/header/Settings.svg" alt="Иконка настроек" title="Настройки"></a></li>
                            <li class="user-menu__link"><a href="/account/authorization/logout/@returnUrl" aria-label="Выйти из аккаунта">Выйти<img src="/icons/header/Exit.svg" alt="Иконка выхода пользователя из системы" title="Выход"></a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="panel__login" href="/account/authorization/login/@returnUrl" aria-label="Авторизоваться"><img src="/icons/header/Login.svg" alt="Иконка авторизации" title="Войти"></a>
                }
            </div>
            <a class="burger-menu" @onclick="OpenCategorySideNavigationAsync"><span /></a>
        </div>
        <div class="subcategories @(SubcategoriesIsShow ? "show" : string.Empty)">
            @if (selectedCategory is not null)
            {
                <ul class="subcategories__list">
                    @foreach (var subcategory in selectedCategory.Subcategories)
                    {
                        <li class="subcategory" @onclick="async () => await HideSubcategoriesAsync()"><a href="/products/catalog/@subcategory.Category.Name/@subcategory.Name" aria-label="Перейти в каталог товаров с подкатегорией @subcategory.Name"><h3>@subcategory.Name</h3></a></li>
                    }
                </ul>
            }
        </div>
    </header>
}