@inherits MainLayoutBase

<div class="warrper">

    <div class="dark-overlay @(DarkOverlayIsShow ? "show" : string.Empty)" @onclick="CloseCategorySideNavigation"></div>

    <nav id="mySidenav" class="sidenav @(CategorySideNavigationIsScroling ? "scroling" : string.Empty) @(ClassWightCategorySideNavigation)">
        <a class="closebtn" @onclick="CloseCategorySideNavigation" aria-label="Закрыть боковое меню категорий">&times;</a>
        <ul class="sidenav__navbar-mobile">
            @if (categories is not null)
            {
                @foreach (var category in categories)
                {
                    <li class="navbar-mobile__link">
                        <a href="#" aria-label="Перейти в раздел товаров с категорией @category.Name"><h3>@category.Name</h3></a>
                        <a class="link__arrow" @onclick="() => OpenSubcategorySideNavigationAsync(category)" aria-label="Перейти в раздел подкатегорий категории @category.Name">
                            <img src="/icons/sidebar/White-right-arrow-category.svg" alt="Иконка белой стрелки вправо" title="Перейти в раздел подкатегорий категории @category.Name">
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
    <nav id="mySidenav-subcaregories" class="sidenav @(ClassWightSubcategorySideNavigation)">
        <a class="returnbtn @(ReturnButtonIsScroling ? "scroling" : string.Empty)" @onclick="CloseSubcategorySideNavigation" aria-label="Закрыть боковое меню подкатегорий"><img src="/icons/sidebar/White-right-arrow.svg" alt="Иконка белой стрелки вправо" title="Вернутся назад"></a>
        <ul class="sidenav__navbar-mobile">
            @if (selectedSubcaregories is not null)
            {
                @foreach (var subcategory in selectedSubcaregories)
                {
                    <li class="navbar-mobile__link"><a href="#" aria-label="Перейти в раздел товаров с подкатегорией @subcategory.Name"><h3>@subcategory.Name</h3></a></li>
                }
            }
        </ul>
    </nav>

    <div class="scroll-to-up @(ScrollToUpIsActive ? "active" : string.Empty)" @onclick="ScrollToTopAsync"><img src="/icons/import/Scroll-to-top.svg" alt="Кнопка для скрола в самый вверх сайта" title="Подняться наверх"></div>

    <Header />
    
    <main class="content">
        @Body
    </main>

    <Footer />

</div>