@page "/products/product-card/{productModelId}"
@inherits ProductCardBase
@attribute [AllowAnonymous]

<section class="product-card">
    <div class="product-card__container">
        @if (productModel is null || user is null || userState is null)
        {
            <Loader />
        }
        else
        {
            <h1 class="product-card__title">@productModel.Name</h1>
            <div class="product-card__link-category-block">
                <a class="link-category-block__category" href="#">@productModel.Subcategory.Category.Name</a>
                <div class="link-category-block__splitter">•</div>
                <a class="link-category-block__subcategory" href="#">@productModel.Subcategory.Name</a>
            </div>
            <div class="product-card__product-block">
                <div class="product-block__images-block">
                    <div class="images-block__main-image">
                        <img class="main-image__image" src="data:image/png;base64,@Convert.ToBase64String(SelectedImage)" @onmouseover="MouseEnterMainImageAsync" @onmouseout="MouseLeaveMainImageAsync" alt="Главное фото модели товара">
                        <div class="main-image__white-rect"></div>
                        <div style="background-image: url(data:image/png;base64,@Convert.ToBase64String(SelectedImage));" class="main-image__zoomed-main-image"></div>
                    </div>
                    <div class="images-block__secondary-images">
                        @foreach (var photo in productModel.Photos)
                        {
                            <img class="secondary-images__image @(photo == SelectedImage ? "selected-image" : string.Empty)" src="data:image/png;base64,@Convert.ToBase64String(photo)" @onclick="() => SelectedImage = photo" alt="Фото модели товара">
                        }
                    </div>
                </div>
                <div class="product-block__features-blocks">
                    @if (userState.Identity.IsAuthenticated)
                    {
                        <div class="features-block__choose-blocks">
                            <div class="choose-blocks__color-choose-block">
                                <h2 class="color-choose-block__title">Выберите цвет</h2>
                                <div class="color-choose-block__colors-block">
                                    @foreach (var color in allCollors)
                                    {
                                        <input class="colors-block__color @(SelectedColor == color ? "selected-button" : string.Empty)" @onclick="() => ClickOnColor(color)" type="button" value="@color">
                                    }
                                </div>
                            </div>
                            <div class="choose-blocks__size-choose-block">
                                <h2 class="size-choose-block__title">Выберите размер</h2>
                                <div class="size-choose-block__sizes-block">
                                    @foreach (var size in allSizes)
                                    {
                                        <input class="sizes-block__size @(SelectedSize == size ? "selected-button" : string.Empty)" @onclick="() => ClickOnSize(size)" type="button" value="@size">
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="features-block__info-block">
                        <h2 class="info-block__title">Характеристики</h2>
                        <div class="info-block__blocks-features">
                            @foreach (var feature in productModel.Features)
                            {
                                <div class="blocks-features__feature">
                                    <span class="feature__name">@feature.Key</span>
                                    <span class="feature__splitter"></span>
                                    <span class="feature__value">@feature.Value</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="product-block__submut-block">
                    <span class="submut-block__product-price">@productModel.Price.ToString("### ### ###") ₽</span>
                    @if (userState.Identity.IsAuthenticated)
                    {
                        if (!Db.Products.Any(product => product.Article.Model.Id == productModel.Id || product.Article.Id == SelectedProductArticle.Id))
                        {
                            <button class="submut-block__empty-product-button" type="button" disabled>Товара нет в наличии</button>
                        }
                        else
                        {
                            if (user.ListFavourites.Products.Any(favoriteProduct => favoriteProduct.Article.Id == SelectedProductArticle.Id))
                            {
                                <button class="submut-block__remove-from-favorites-button" @onclick="RemoveProductFromFavorites" type="submit">Удалить из избранного</button>
                            }
                            else
                            {
                                <button class="submut-block__add-to-favorites-button" @onclick="AddProductInFavorites" type="submit">Добавить в избранное</button>
                            }
                            if (user.Cart.Products.Any(favoriteProduct => favoriteProduct.Article.Id == SelectedProductArticle.Id))
                            {
                                <button class="submut-block__remove-from-cart-button" @onclick="RemoveProductFromCart" type="submit">Удалить из корзины</button>
                            }
                            else
                            {
                                <button class="submut-block__add-to-cart-button" @onclick="AddProductInCart" type="submit">Добавить в корзину</button>
                            }
                        }
                    }
                </div>
            </div>
        }
    </div>
</section>