@page "/"
@inherits IndexBase

<section class="section1">
    <div class="promo__container">
        <div class="promo">
            <div class="promo__background-img"></div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="container brands__container">
        <h2 class="carousel__name">С нами сотрудничают</h2>
    </div>
    <marquee class="brands-list__carusel" direction="right" behavior="" scrollamount="15">
        <img class="brand" src="/icons/index/section2/Air-Jordan-Jumpman.svg" alt="Иконка бренда Air-Jordan-Jumpman" title="Иконка бренда Air-Jordan-Jumpman">
        <img class="brand" src="/icons/index/section2/Adidas.svg" alt="Иконка бренда Adidas" title="Иконка бренда Adidas">
        <img class="brand" src="/icons/index/section2/Boss.svg" alt="Иконка бренда Boss" title="Иконка бренда Boss">
        <img class="brand" src="/icons/index/section2/Calvin-Klein.svg" alt="Иконка бренда Calvin Klein" title="Иконка бренда Calvin Klein">
        <img class="brand" src="/icons/index/section2/Chanel.svg" alt="Иконка бренда Chanel" title="Иконка бренда Chanel">
        <img class="brand" src="/icons/index/section2/Dolce-Gabbana.svg" alt="Иконка бренда Dolce Gabbana" title="Иконка бренда Dolce Gabbana">
        <img class="brand" src="/icons/index/section2/Gucci.svg" alt="Иконка бренда Gucci" title="Иконка бренда Gucci">
        <img class="brand" src="/icons/index/section2/Lacoste.svg" alt="Иконка бренда Lacoste" title="Иконка бренда Lacoste">
        <img class="brand" src="/icons/index/section2/Levi's.svg" alt="Иконка бренда Levi's" title="Иконка бренда Levi's">
        <img class="brand" src="/icons/index/section2/Louis-Vuitton.svg" alt="Иконка бренда Louis Vuitton" title="Иконка бренда Louis Vuitton">
        <img class="brand" src="/icons/index/section2/Massimo-Dutti.svg" alt="Иконка бренда Massimo Dutti" title="Иконка бренда Massimo Dutti">
        <img class="brand" src="/icons/index/section2/Mexx.svg" alt="Иконка бренда Mexx" title="Иконка бренда Mexx">
        <img class="brand" src="/icons/index/section2/Nike.svg" alt="Иконка бренда Nike" title="Иконка бренда Nike">
        <img class="brand" src="/icons/index/section2/Prada.svg" alt="Иконка бренда Prada" title="Иконка бренда Prada">
        <img class="brand" src="/icons/index/section2/Puma.svg" alt="Иконка бренда Puma" title="Иконка бренда Puma">
        <img class="brand" src="/icons/index/section2/Tommy-Hilfiger.svg" alt="Иконка бренда Tommy Hilfiger" title="Иконка бренда Tommy Hilfiger">
        <img class="brand" src="/icons/index/section2/Versace.svg" alt="Иконка бренда Versace" title="Иконка бренда Versace">
        <img class="brand" src="/icons/index/section2/Zara.svg" alt="Иконка бренда Zara" title="Иконка бренда Zara">
    </marquee>
</section>
<section class="section3">
    <div class="container section3__container">
        <div class="carousel">
            <h2 class="carousel__name">Новинки</h2>
            @if (productsModelsSection1 is null)
            {
                <Loader />
            }
            else
            {
                <BlazorSlickCarousel Configurations="configurations">
                    <BlazorSlickCarouselContent>
                        @foreach (var productModel in productsModelsSection1)
                        {
                            <div class="carousel__carousel-item">
                                <div class="carousel-item__image-block">
                                    <a href="/products/product-card/@productModel.Id"><img class="image-block__image" src="data:image/png;base64,@Convert.ToBase64String(productModel.MainPhoto)"></a>
                                    @if (currentUserState is not null && currentUserState.Identity.IsAuthenticated && currentUser is not null && Db.Products.Any(product => product.Article.Model.Id == productModel.Id))
                                    {
                                        if (currentUser.FavoriteList.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__favorites" @onclick="() => RemoveProductFromFavoritesAsync(productModel)"><img src="/icons/header/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__favorites" @onclick="() => AddProductInFavoritesAsync(productModel)"><img src="/icons/header/Heart.svg" alt="Иконка избранного" title="Добавить в избранное"></span>
                                        }
                                        if (currentUser.Cart.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__cart" @onclick="() => RemoveProductFromCartAsync(productModel)"><img src="/icons/header/Slash-cart.svg" alt="Иконка корзины" title="Добавить в корзину"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__cart" @onclick="() => AddProductInCartAsync(productModel)"><img src="/icons/header/Cart.svg" alt="Перечеркнутая иконка корзины" title="Удалить из корзины"></span>
                                        }
                                    }
                                    @*<!--<div class="image-block__discount-block hasDiscount"> <!-- hasDiscount -->
                                    <span class="discount-block__amount">-10%</span>
                                    <img class="discount-block__icon" src="./icons/index/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                                    </div> *@
                                </div>
                                <a class="carousel-item__title" href="/products/product-card/@productModel.Id" aria-label="Перейти в личную карточку товара @productModel.Name">@productModel.Name</a>
                                <!-- hasDiscount -->
                                <div class="carousel-item__price-block">
                                    <span class="price-block__price">@productModel.Price.ToString("### ### ###") ₽</span>
                                    @*<span class="price-block__discount">8 100 ₽</span>*@
                                </div>
                            </div>
                        }
                    </BlazorSlickCarouselContent>
                    <BlazorSlickCarouselLoading>
                        <Loader />
                    </BlazorSlickCarouselLoading>
                </BlazorSlickCarousel>
            }
        </div>
    </div>
</section>
<section class="section4">
    <div class="container section4__container">
        <div class="carousel">
            <h2 class="carousel__name">Популярное</h2>
            @if (productsModelsSection2 is null)
            {
                <Loader/>
            }
            else
            {
                <BlazorSlickCarousel Configurations="configurations">
                    <BlazorSlickCarouselContent>
                        @foreach (var productModel in productsModelsSection2)
                        {
                            <div class="carousel__carousel-item">
                                <div class="carousel-item__image-block">
                                    <a href="/products/product-card/@productModel.Id"><img class="image-block__image" src="data:image/png;base64,@Convert.ToBase64String(productModel.MainPhoto)"></a>
                                    @if (currentUserState is not null && currentUserState.Identity.IsAuthenticated && currentUser is not null && Db.Products.Any(product => product.Article.Model.Id == productModel.Id))
                                    {
                                        if (currentUser.FavoriteList.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__favorites" @onclick="() => RemoveProductFromFavoritesAsync(productModel)"><img src="/icons/header/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__favorites" @onclick="() => AddProductInFavoritesAsync(productModel)"><img src="/icons/header/Heart.svg" alt="Иконка избранного" title="Добавить в избранное"></span>
                                        }
                                        if (currentUser.Cart.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__cart" @onclick="() => RemoveProductFromCartAsync(productModel)"><img src="/icons/header/Slash-cart.svg" alt="Иконка корзины" title="Добавить в корзину"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__cart" @onclick="() => AddProductInCartAsync(productModel)"><img src="/icons/header/Cart.svg" alt="Перечеркнутая иконка корзины" title="Удалить из корзины"></span>
                                        }
                                    }
                                    @*<!--<div class="image-block__discount-block hasDiscount"> <!-- hasDiscount -->
                                    <span class="discount-block__amount">-10%</span>
                                    <img class="discount-block__icon" src="./icons/index/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                                    </div> *@
                                </div>
                                <a class="carousel-item__title" href="/products/product-card/@productModel.Id" aria-label="Перейти в личную карточку товара @productModel.Name">@productModel.Name</a>
                                <!-- hasDiscount -->
                                <div class="carousel-item__price-block">
                                    <span class="price-block__price">@productModel.Price.ToString("### ### ###") ₽</span>
                                    @*<span class="price-block__discount">8 100 ₽</span>*@
                                </div>
                            </div>
                        }
                    </BlazorSlickCarouselContent>
                    <BlazorSlickCarouselLoading>
                        <Loader />
                    </BlazorSlickCarouselLoading>
                </BlazorSlickCarousel>
            }
        </div>
    </div>
</section>
@*<section class="section5">
    <div class="container section5__container">
        <div class="carousel">
            <h2 class="carousel__name">Скидки</h2>

        </div>
    </div>
</section>*@
<section class="section6">
    <div class="container section6__container">
        <div class="carousel">
            <h2 class="carousel__name">Еще от Nike</h2>
            @if (productsModelsSection3 is null)
            {
                <Loader />
            }
            else
            {
                <BlazorSlickCarousel Configurations="configurations">
                    <BlazorSlickCarouselContent>
                        @foreach (var productModel in productsModelsSection3)
                        {
                            <div class="carousel__carousel-item">
                                <div class="carousel-item__image-block">
                                    <a href="/products/product-card/@productModel.Id"><img class="image-block__image" src="data:image/png;base64,@Convert.ToBase64String(productModel.MainPhoto)"></a>
                                    @if (currentUserState is not null && currentUserState.Identity.IsAuthenticated && currentUser is not null && Db.Products.Any(product => product.Article.Model.Id == productModel.Id))
                                    {
                                        if (currentUser.FavoriteList.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__favorites" @onclick="() => RemoveProductFromFavoritesAsync(productModel)"><img src="/icons/header/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__favorites" @onclick="() => AddProductInFavoritesAsync(productModel)"><img src="/icons/header/Heart.svg" alt="Иконка избранного" title="Добавить в избранное"></span>
                                        }
                                        if (currentUser.Cart.Products.Any(favoriteProduct => favoriteProduct.Article.Model.Id == productModel.Id))
                                        {
                                            <span class="image-block__cart" @onclick="() => RemoveProductFromCartAsync(productModel)"><img src="/icons/header/Slash-cart.svg" alt="Иконка корзины" title="Добавить в корзину"></span>
                                        }
                                        else
                                        {
                                            <span class="image-block__cart" @onclick="() => AddProductInCartAsync(productModel)"><img src="/icons/header/Cart.svg" alt="Перечеркнутая иконка корзины" title="Удалить из корзины"></span>
                                        }
                                    }
                                    @*<!--<div class="image-block__discount-block hasDiscount"> <!-- hasDiscount -->
                                    <span class="discount-block__amount">-10%</span>
                                    <img class="discount-block__icon" src="./icons/index/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                                    </div> *@
                                </div>
                                <a class="carousel-item__title" href="/products/product-card/@productModel.Id" aria-label="Перейти в личную карточку товара @productModel.Name">@productModel.Name</a>
                                <!-- hasDiscount -->
                                <div class="carousel-item__price-block">
                                    <span class="price-block__price">@productModel.Price.ToString("### ### ###") ₽</span>
                                    @*<span class="price-block__discount">8 100 ₽</span>*@
                                </div>
                            </div>
                        }
                    </BlazorSlickCarouselContent>
                    <BlazorSlickCarouselLoading>
                        <Loader/>
                    </BlazorSlickCarouselLoading>
                </BlazorSlickCarousel>
            }
        </div>
    </div>
</section>
<section class="section7">
    <div class="maps__container">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/vek_sobytiy/16483772898/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Век событий</a><a href="https://yandex.ru/maps/213/moscow/category/event_planning_agency/184108329/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Праздничное агентство в Москве</a><a href="https://yandex.ru/maps/213/moscow/category/conference_and_seminar_organizers/184105516/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Организация конференций и семинаров в Москве</a><iframe title="Местоположение магазина" src="https://yandex.ru/map-widget/v1/-/CCUqbMCaXD" loading="lazy" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
</section>